@model ReflectionsJournal.Data.ApplicationDbContext

<h1>View All Jounral Entries</h1>

<div>
@foreach (EntryModel entry in @Model.entries)
{
    <partial name = "_details" model = "@entry"/>

}
</div>